/* Variables */
:root {
  --color: #ffc600;
  --spacing: 10px;
  --blur: 10px;
}

img {
  padding: var(--spacing);
  background: var(--color);
  filter: blur(var(--blur));
}

.hl {
  color: var(--color);
}

/* Default styling */

body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

body {
  text-align: center;
  background: #193549;
  color: white;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 40;
  font-size: 30px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.controls {
  margin-bottom: 100px;
}

input {
  width: 100px;
}
